[submodule "runtime-pivot-java-agent"]
	path = runtime-pivot-java-agent
	url = https://github.com/wl2027/runtime-pivot-java-agent.git
[submodule "runtime-pivot-test-demo"]
	path = runtime-pivot-test-demo
	url = https://github.com/wl2027/runtime-pivot-test-demo.git
